



.top-banner{
   
    background-image: url(../../Images/topbanner2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height:300px;
    
}

.big-txt{
    padding-top:5%;
    color:azure;
    font-size:65px;
}

.s-pic{
    width: 100%;
}
.margin10{
    margin-top: 10%;
    margin-bottom:10%;
}

.crimsonAbout{
    color: rgb(192, 19, 54);
    font-size: 45px;
}
